.root {
  --emoji-size: 2.25rem;

  height: 100%;
  max-height: calc(100 * var(--vh));

  :global(.symbol-set-container) {
    --symbol-set-gap-size: 0.625rem;
  }
}

.activated {
  background-color: var(--color-interactive-element-hover);
}

.folderIconPickerDefaultIconList {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & > div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  & > div > button {
    font-size: 36px;
    line-height: 0;
    margin: 0 !important;
    border: 0;
    background: none;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
}

.fillerFolderIcon {
  width: 36px;
  height: 36px;
}
